.jumbotron {
  height: 585px;
  width: cover;
  background-image: url(ca_jumbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.color {
  background: lightgray;
  border: 10px solid white;
}

table {
  cellpadding: 10px;
  borderspacing: 10px;
}

.container{
  border: 2px solid lightgray;
}

.navbar.navbar-expand-lg.navbar-light.bg-dark li a {
  color: white;
}
